@import "../common.css";

body {
  font-family: var(--font-family);
  padding: var(--spacing);
  min-width: 250px;
}
label {
  display: block;
  margin-bottom: 5px;
}

.status-message {
  font-size: 0.9em;
  color: green;
}
