@import "../common.css";

body {
  font-family: var(--font-family);
  padding: var(--spacing);
  min-width: 250px;
}
label {
  display: block;
  margin-bottom: 3px;
}

.status-message {
  font-size: 0.9em;
  color: green;
}

input, select {
  padding: 5px;
}

#customModelInput {
  margin-top: 5px;
}

.help-icon-link {
  margin-left: 4px;
}

.help-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #636363;
  color: #636363;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}

.help-icon-link:hover .help-icon,
.help-icon-link:focus .help-icon {
  background: #ededed;
}